<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-icon rotate-n-15">
          
      </div>
      <div class="sidebar-brand-text mx-3"><img src="/images/logo.png" style="height: 4vh; width: auto;" alt="" /></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Health Packages</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Section
  </div>


  <!-- Nav Item - Charts -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Categories</span></a>
  </li>

   <!-- Nav Item - Tables -->
   <li class="nav-item">
    <a class="nav-link" href="/admin/companies">
        <i class="fas fa-fw fa-table"></i>
        <span>Companies</span></a>
</li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/hotels">
          <i class="fas fa-fw fa-table"></i>
          <span>Hotels</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/tours">
          <i class="fas fa-fw fa-table"></i>
          <span>Tours</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
          <i class="fas fa-fw fa-table"></i>
          <span>Customers</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/blogs">
          <i class="fas fa-fw fa-table"></i>
          <span>Blogs</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/faqs">
          <i class="fas fa-fw fa-table"></i>
          <span>FAQs</span></a>
  </li>

 

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  

</ul>
<!-- End of Sidebar -->
